<nav class="nav flex justify-between p-4 items-center" >
    <div class="text-[44px] text-purple-700"  >ECOMM</div>
    <div>
        <input class="border p-1 mr-1 border-purple-600 border-1 w-80 " type="text" placeholder="Search for Product">
        <button class="border p-1 text-white bg-purple-200 hover:bg-purple-800">Search</button>
    </div>
    <ul class="flex gap-6 text-purple-600 text-lg">
        <li>Home</li>
        <li>Seller</li>
        <li>Login</li >
        <li>Cart(0)</li >
    </ul>

</nav>
