<nav class="nav flex justify-between p-4 items-center">
    <div class="text-[44px] text-purple-700">ECOMM</div>
    <div>
        <input class="border p-1 mr-2 border-purple-600 border-1  " type="text" placeholder="Search for Product">
        <button class="border rounded-lg px-2 py-1 font-bold text-gray-500 bg-purple-200 hover:bg-purple-800 hover:text-white">Search</button>
    </div>
    <ul  class="flex gap-6 text-purple-600 text-lg ">
        <li><a routerLink="/seller-auth" >Seller</a> </li>
        <li><a routerLink="/" >Home</a> </li>
        <li><a href="">Login</a></li>
        <li><a href="">Cart(0)</a></li>
    </ul>

</nav>