/* You can add global styles to this file, and also import other style files */
@tailwind base;
@layer base {
    h1 {
      @apply text-2xl;
    }
    h2 {
      @apply text-xl;
    }
    h3 {
      @apply text-lg;
    }
    a {
      @apply text-blue-600 underline;
    }
  }
@tailwind components;
@tailwind utilities;

body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}
input{
    height: 38px;
    padding: 10px;
    border-radius: 5px 5px;
    border-color: rgb(165, 135, 165);
    border-style: dotted;
}